* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Urbanist", sans-serif;
}

header {
    background-image:
        linear-gradient(to bottom, rgba(122, 122, 122, 0.25), rgba(41, 38, 40, 0.53)),
        url("./assets/pexels-lumn-167684.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 10px;
    min-height: 650px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h2 {
    padding: 0rem 2rem 1rem;
    letter-spacing: 0.9px;
    font-size: 3.3rem;

}

header p {
    padding: 1rem 2rem;
    letter-spacing: 0.9px;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
}

#logo {
    text-decoration: none;
    color: #fff;
}

.search-form {
    padding: 1.6rem 1.6rem 0rem;
    display: flex;
    width: 800px;


}

.search-form input {
    font-size: 1.1rem;
    padding: 0.9rem;
    width: 100%;
    border: none;
    outline: none;
    border: 1px solid #1d1d1d;

}

::placeholder {
    color: rgb(170, 170, 170);
    font-family: "Urbanist", sans-serif;
}

.search-form button {
    border: none;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    background: #1d1d1d;
    color: white;
    cursor: pointer;
}

.search-form button:hover {
    background: #242424;
}

.popular-tag {
    color: #fff;
    font-size: 1rem;
}

.popular-tag a {
    color: #fff;
}

.popular-tag a:hover {
    color: rgb(235, 235, 235);
}

.gallery-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    padding: 0.5rem 0rem;
}

.gallery-info a {
    color: gray;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    padding: 1.5rem 0rem;
    width: 80%;
    margin: auto;
    row-gap: 5rem;
    column-gap: 3rem;
}

.gallery-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-button {
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more {
    padding: 1rem 3rem;
    background: #1d1d1d;
    color: white;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.more:hover {
    background: #242424;
}

/* media queries */

@media only screen and (max-width: 800px) {
    .search-form {
        width: 90%;
    }
}